agora-token-builder==1.0.0
asgiref==3.4.1
beautifulsoup4==4.11.1
bleach==5.0.1
cssselect==1.1.0
distlib==0.3.4
Django==4.1.7
django-ckeditor==6.4.2
django-cors-headers==3.13.0
django-jazzmin==2.5.0
django-js-asset==2.0.0
django-quill-editor==0.1.40
django-social-share==2.2.1
django-summernote==0.8.20.0
django-taggit==3.0.0
django-tinymce==3.4.0
djangorestframework==3.13.1
filelock==3.7.1
lxml==4.9.1
markdown2==2.4.3
mysqlclient==2.1.1
Pillow==9.1.1
platformdirs==2.5.2
pyquery==1.4.3
pytz==2022.1
readtime==2.0.0
six==1.16.0
soupsieve==2.3.2.post1
sqlparse==0.4.2
tzdata==2021.5
virtualenv==20.14.1
webencodings==0.5.1
