<section id="blog" class="services">
    <div class="container">
      <div class="section-title">
        <h2>Blogs</h2>
        
        {% comment %} <p>
          Magnam dolores commodi suscipit. Necessitatibus eius consequatur
          ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam
          quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea.
          Quia fugiat sit in iste officiis commodi quidem hic quas.
        </p> {% endcomment %}
      </div>

      <div class="row">
        {% for blog in blogs %}
        <div class="col-lg-3 col-md-6 icon-box" data-aos="fade-up">
          <div
            style="
              background-color: #1d1d1d;
              border-top: 2px solid {{blog.category.color_code}} ;
            "
            class="p-3"
          >
            <div>
              <h6 style="color: {{blog.category.color_code}};letter-spacing:0.2rem;">{{blog.category}}</h6>
              <p class="py-1"><a href="{% url 'detail' blog.slug %}" class="text-white blog-title">{{blog.title | truncatechars:50}}</a></p>
              <p class="text-white">{{blog.short_content.html|safe}}</p>
              <div style="max-height:200px;overflow:hidden;"><img
                src="{{blog.image.url}}"
                class="img-fluid"
                alt=""
              /></div>
            </div>
          </div>
        </div>
        {% endfor %}
        
      </div>
      <div class="text-center">
        <a href="{% url 'allblog' %}" style="letter-spacing:3px;color:#37b3ed" class="btn">See all articles</a>
      </div>
    </div>
  </section>