{% load static %}
<header id="header">
    <div class="d-flex flex-column">
      <div class="profile">
        <img
          src="{% static 'assets/img/qazileo.jpg' %}"
          alt=""
          class="img-fluid rounded-circle"
        />
        <h1 class="text-light"><a href="{% url 'home' %}">Kyaw Soe Hla</a></h1>
        <h2 class="text-light text-center pt-4">Category</a></h2><hr />
        {% comment %} <div class="social-links mt-3 text-center">
          <a href="https://twitter.com/kyawsoehla0101" class="twitter"
            ><i class="bx bxl-twitter"></i
          ></a>
          <a href="https://www.facebook.com/kyawsoehla0101/" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="https://www.instagram.com/kyawsoehla0101/" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href="https://join.skype.com/invite/vidAIYlblS8G" class="google-plus"><i class="bx bxl-skype"></i></a>
        </div> {% endcomment %}
      </div>
      <nav id="navbar" class="nav-menu navbar">
        
        <ul>
          {% for category in categories %}
          <li>
            <a href="{% url 'categorypost' category.slug %}" class="nav-link scrollto active"
              ><span>{{category.name}}</span> <span class="text-danger">({{category.posts_count}})</span></a
            >
          </li>
          {% endfor %}
          {% comment %} <li>
            <a href="{% url 'home' %}#about" class="nav-link scrollto"
              ><i class="bx bx-user"></i> <span>About</span></a
            >
          </li>
          <li>
            <a href="{% url 'home' %}#skills" class="nav-link scrollto"
              ><i class="bx bx-file-blank"></i> <span>Skills</span></a
            >
          </li>
          <li>
            <a href="{% url 'home' %}#gallery" class="nav-link scrollto"
              ><i class="bx bx-book-content"></i> <span>Gallery</span></a
            >
          </li>
          <li>
            <a href="{% url 'home' %}#blog" class="nav-link scrollto"
              ><i class="bx bx-server"></i> <span>Blog</span></a
            >
          </li>
          <li>
            <a href="{% url 'home' %}#contact" class="nav-link scrollto"
              ><i class="bx bx-envelope"></i> <span>Contact</span></a
            >
          </li> {% endcomment %}
        </ul>
      </nav>
      <!-- .nav-menu -->
    </div>
  </header>