{% extends 'layouts/base.html' %}
{% block title %}{{slug | upper}}{% endblock title %}
{% block content %}
<main id="main">
    <section id="blog " class="services allmain">
        <div class="container">
          {% comment %} <div class="section-title"> {% endcomment %}
            {% comment %} <h2>{{slug}}</h2> {% endcomment %}
            
            {% comment %} <p>
              Magnam dolores commodi suscipit. Necessitatibus eius consequatur
              ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam
              quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea.
              Quia fugiat sit in iste officiis commodi quidem hic quas.
            </p> {% endcomment %}
          {% comment %} </div> {% endcomment %}
          <a href="{% url 'allblog' %}" class="fw-bold"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" style="fill: #37b3ed;transform: ;msFilter:;"><path d="M21 11H6.414l5.293-5.293-1.414-1.414L2.586 12l7.707 7.707 1.414-1.414L6.414 13H21z"></path></svg> Back to blog</a>
          {% if blogs %}
          <div class="row py-4">
            {% for blog in blogs %}
            <div class="col-lg-3 col-md-6 icon-box">
              <div
                style="
                  background-color: #1d1d1d;
                  border-top: 2px solid {{blog.category.color_code}} ;
                "
                class="p-3"
              >
                <div>
                  <h6 style="color: {{blog.category.color_code}};letter-spacing:0.2rem;">{{blog.category}}</h6>
                  <p class="py-1"><a href="{% url 'detail' blog.slug %}" class="text-white blog-title">{{blog.title | truncatechars:50}}</a></p>
                  <p class="text-white">{{blog.short_content.html|safe}}</p>
                  <div style="max-height:200px;overflow:hidden;"><img
                    src="{{blog.image.url}}"
                    class="img-fluid"
                    alt=""
                  /></div>
                </div>
              </div>
            </div>
            {% endfor %}
            
          </div>
          {% else %}
          <h1>There is no Posts</h1>
          {% endif %}
        </div>
      </section> 
</main>
{% endblock content %}