{% extends 'layouts/main.html' %} {% load static %} {% block content %}
<main id="main">
  <!-- ======= Breadcrumbs ======= -->
  <section id="breadcrumbs" class="breadcrumbs">
    <div class="container">
      <div class="d-flex justify-content-between align-items-center">
        <h2>Details</h2>
        <ol>
          <li><a href="{% url 'home' %}">Home</a></li>
          <li>Details</li>
        </ol>
      </div>
    </div>
  </section>
  <!-- End Breadcrumbs -->

  <!-- ======= Portfolio Details Section ======= -->
  <section id="portfolio-details" class="portfolio-details">
    <div class="container">
      <div class="row gy-4">
        <a href="{% url 'home' %}"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" style="fill: #37b3ed;transform: ;msFilter:;"><path d="M21 11H6.414l5.293-5.293-1.414-1.414L2.586 12l7.707 7.707 1.414-1.414L6.414 13H21z"></path></svg> Back to blog</a>
        <div class="col-lg-8">
          <div class="portfolio-details-slider swiper">
            <div class="swiper-wrapper align-items-center">
              <div class="swiper-slide# pb-3">
                <img
                  src="{{blog.image.url}}"
                  alt=""
                />
              </div>

              {% comment %} <div class="swiper-slide">
                <img
                  src="{% static 'assets/img/portfolio/portfolio-details-2.jpg' %}"
                  alt=""
                />
              </div>

              <div class="swiper-slide">
                <img
                  src="{% static 'assets/img/portfolio/portfolio-details-3.jpg' %}"
                  alt=""
                />
              </div> {% endcomment %}
            </div>
            <div class="swiper-pagination"></div>
          </div>
          <h2>{{blog.title}}</h2>
            <p>{{blog.content.html|safe}}</p>
        </div>

        <div class="col-lg-4">
          <div class="portfolio-info">
            <h3>Blog information</h3>
            <ul>
              <li><strong>Category</strong>: {{blog.category}}</li>
              <li><strong>Author</strong>: {{blog.author.first_name}} {{blog.author.last_name}}</li>
              <li><strong>Published date</strong>: {{blog.created|date:'M d, Y'}}</li>
              <li>
                <strong>Tags</strong>: <a href="#">{% for tag in blog.tags.all %}
                    #{{tag}}
                    {% endfor %}</a>
              </li>
            </ul>
          </div>
          {% comment %} <div class="portfolio-description">
            <h2>This is an example of portfolio detail</h2>
            <p>
              Autem ipsum nam porro corporis rerum. Quis eos dolorem eos itaque
              inventore commodi labore quia quia. Exercitationem repudiandae
              officiis neque suscipit non officia eaque itaque enim. Voluptatem
              officia accusantium nesciunt est omnis tempora consectetur
              dignissimos. Sequi nulla at esse enim cum deserunt eius.
            </p>
            <p>
              Autem ipsum nam porro corporis rerum. Quis eos dolorem eos itaque
              inventore commodi labore quia quia. Exercitationem repudiandae
              officiis neque suscipit non officia eaque itaque enim. Voluptatem
              officia accusantium nesciunt est omnis tempora consectetur
              dignissimos. Sequi nulla at esse enim cum deserunt eius.
            </p>
            <p>
              Autem ipsum nam porro corporis rerum. Quis eos dolorem eos itaque
              inventore commodi labore quia quia. Exercitationem repudiandae
              officiis neque suscipit non officia eaque itaque enim. Voluptatem
              officia accusantium nesciunt est omnis tempora consectetur
              dignissimos. Sequi nulla at esse enim cum deserunt eius.
            </p>
            <p>
              Autem ipsum nam porro corporis rerum. Quis eos dolorem eos itaque
              inventore commodi labore quia quia. Exercitationem repudiandae
              officiis neque suscipit non officia eaque itaque enim. Voluptatem
              officia accusantium nesciunt est omnis tempora consectetur
              dignissimos. Sequi nulla at esse enim cum deserunt eius.
            </p>
          </div> {% endcomment %}
        </div>
      </div>
    </div>
  </section>
  <!-- End Portfolio Details Section -->
</main>
{% endblock content %}
